                <span class="material-symbols-outlined">hardware</span>
                <span class="material-symbols-outlined">check</span>
<button (click)="logout()" class="float-right mt-10 mr-10 text-gray-500">
    <span class="material-symbols-outlined" style="font-size: 30px;">exit_to_app</span>
</button>

<div class="w-3/4 p-0 mt-2 mx-auto">
    <div class="w-2/3 m-0 p-0 mx-auto border border-gray-400 rounded-lg p-5 mb-10">
        <h2 class="text-3xl font-semibold text-center">
            Statictiques des examens
        </h2>
        <div class="w-full p-0 m-0 mt-5 grid grid-cols-4 gap-5">
            <div class="h-30 border border-gray-400 rounded-lg p-5 text-gray-500 font-semibold">
                <h3>Confirmé</h3>
                <span class="text-[34px] text-green-400">28</span>
                <span class="material-symbols-outlined text-green-400 float-right" style="font-size: 40px;">task_alt</span>
            </div>
            <div class="h-30 border border-gray-400 rounded-lg p-5 text-gray-500 font-semibold">
                <h3>À organiser</h3>
                <span class="text-[34px] text-orange-400">28</span>
                <span class="material-symbols-outlined text-orange-400 float-right" style="font-size: 40px;">list_alt</span>
            </div>
            <div class="h-30 border border-gray-400 rounded-lg p-5 text-gray-500 font-semibold">
                <h3>Annulé</h3>
                <span class="text-[34px] text-red-400">28</span>
                <span class="material-symbols-outlined text-red-400 float-right" style="font-size: 40px;">close</span>
            </div>
            <div class="h-30 border border-gray-400 rounded-lg p-5 text-gray-500 font-semibold">
                <h3>En recherche de place</h3>
                <span class="text-[34px] text-blue-400">28</span>
                <span class="material-symbols-outlined text-blue-400 float-right" style="font-size: 40px;">schedule</span>
            </div>
        </div>
    </div>
    <div class="w-1/2 inline-block">
        <h2 class="text-3xl font-semibold">
            Mes examens
        </h2>
        <p>
            7 examens à venir
        </p>
    </div>
    <div class="w-1/2 inline-block">
        <button type="button" (click)="openModal()" class="w-50 float-right rounded-lg bg-orange-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
            Organiser un examen
        </button>
    </div>
    <div class="max-h-130 overflow-y-auto mt-5">
        <table class="min-w-full">
            <tbody>
                <tr *ngFor="let exam of examens" class="h-[75px] border border-gray-400 rounded-lg flex items-center px-10 text-gray-600 mb-2">
                    <td class="flex items-center gap-2 w-[20%]">
                        <span class="material-symbols-outlined">person</span>
                        {{ exam.student.name }}
                    </td>
                    <td class="flex items-center gap-2 w-[20%]">
                        <span class="material-symbols-outlined">location_on</span>
                        {{ exam.location ?? 'En attente' }}
                    </td>
                    <td class="flex items-center gap-2 w-[20%]">
                        <span class="material-symbols-outlined">date_range</span>
                        {{ exam.date | date:'dd MMMM' }}
                    </td>
                    <td class="flex items-center gap-2 w-[20%]">
                        <span class="material-symbols-outlined">history_toggle_off</span>
                        {{ exam.timeString }}
                    </td>
                    <td class="flex items-center gap-2 w-[20%]"
                        [ngClass]="{
                            'text-green-600': exam.status === 'Confirmé',
                            'text-orange-600': exam.status === 'À organiser',
                            'text-red-600': exam.status === 'Annulé',
                            'text-gray-600': exam.status === 'En recherche de place'
                        }"
                    >
                        <span class="material-symbols-outlined">
                            {{ getStatusIcon(exam.status) }}
                        </span>
                        {{ exam.status }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-create-modal
    *ngIf="isModalOpen"
    (confirm)="onConfirm()"
    (cancel)="onCancel()"
>
</app-create-modal>