<div class="fixed inset-0 bg-black/50 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg w-160">
        <button (click)="cancel.emit()" class="float-right"><span class="material-symbols-outlined">close</span></button>
        <h2 class="text-2xl text-center font-bold mb-10">Organiser un nouvel examen</h2>

        <form [formGroup]="examForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="w-full p-0 mb-5">
                <div class="w-1/2 pr-3 inline-block">
                    <label for="student" class="block text-sm/6 font-medium text-gray-150">
                        Nom de l’étudiant
                        <span *ngIf="examForm | requiredField: FormFields.student" class="text-red-500 text-[11px] float-right">
                            Champ obligatoire
                        </span>
                    </label>
                    <div class="mt-2">
                        <select
                            [formControlName]="FormFields.student"
                            id="student" 
                            required 
                            class="block w-full h-10 rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-500 outline-1 -outline-offset-1 outline-orange/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500 sm:text-sm/6" >
                            <option value="" disabled selected>Choisir un étudiant</option>
                            <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="w-1/2 pl-3 inline-block">
                    <label for="status" class="block text-sm/6 font-medium text-gray-150">
                        Statut
                        <span *ngIf="examForm | requiredField: FormFields.status" class="text-red-500 text-[11px] float-right">
                            Champ obligatoire
                        </span>
                    </label>
                    <div class="mt-2">
                        <select
                            [formControlName]="FormFields.status"
                            id="status" 
                            required 
                            class="block w-full h-10 rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-500 outline-1 -outline-offset-1 outline-orange/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500 sm:text-sm/6" 
                        >
                            <option value="Confirmé">Confirmé</option>
                            <option value="À organiser">À organiser</option>
                            <option value="Annulé">Annulé</option>
                            <option value="En recherche de place">En recherche de place</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-full p-0 mb-10">
                <div class="w-1/3 pr-3 inline-block">
                    <label for="date" class="block text-sm/6 font-medium text-gray-150">
                        Date
                        <span *ngIf="examForm | requiredField: FormFields.date" class="text-red-500 text-[11px] float-right">
                            Champ obligatoire
                        </span>
                    </label>
                    <div class="mt-2">
                        <input 
                            id="date" 
                            type="date"
                            [formControlName]="FormFields.date"
                            required
                            [min]="today"
                            class="block w-full h-10 rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-500 outline-1 -outline-offset-1 outline-orange/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500 sm:text-sm/6" 
                        />
                    </div>
                </div>
                <div class="w-1/3 pr-3 pl-3 inline-block">
                    <label for="time" class="block text-sm/6 font-medium text-gray-150">
                        Heure
                        <span *ngIf="examForm | requiredField: FormFields.time" class="text-red-500 text-[11px] float-right">
                            Champ obligatoire
                        </span>
                    </label>
                    <div class="mt-2">
                        <input 
                            id="time" 
                            type="time"
                            [formControlName]="FormFields.time"
                            required 
                            class="block w-full h-10 rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-500 outline-1 -outline-offset-1 outline-orange/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500 sm:text-sm/6" />
                    </div>
                </div>
                <div class="w-1/3 pl-3 inline-block">
                    <label for="location" class="block text-sm/6 font-medium text-gray-150">Lieu de l’examen</label>
                    <div class="mt-2">
                        <input 
                            id="location" 
                            type="text"
                            [formControlName]="FormFields.location"
                            placeholder="Facultatif" 
                            class="block w-full h-10 rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-500 outline-1 -outline-offset-1 outline-orange/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500 sm:text-sm/6" />
                    </div>
                </div>
            </div>
            <div class="mt-4 flex justify-center">
                <button 
                    type="submit" 
                    [disabled]="examForm.invalid"
                    class="flex w-full justify-center rounded-lg bg-orange-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
                    ENREGISTRER
                </button>
            </div>
        </form>

    </div>
</div>
